.case-studies-section {
  background-color: #ffffff;
  color: #000000;
  padding: 60px 20px;
  max-width: 1120px;
  margin: 0 auto;
}

.case-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.case-subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.5;
}

.case-study {
  margin-bottom: 60px;
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
}

.fintech {
  background-color: #fff0c2;
  color: #b88500;
}

.edtech {
  background-color: #e5e9ff;
  color: #4d5aff;
}

.pharma {
  background-color: #d0fff3;
  color: #0b8e6b;
}
.case-study {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.case-study.reverse {
  flex-direction: row-reverse;
}

.case-content {
  flex: 1;
}

.case-image {
  flex: 1;
}

.case-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.btn .fintech{
  background-color: #ffc107;
  color: #000;
}

.btn .edtech {
  background-color: #0033ff;
  color: #fff;
}

.btn .pharma{
  background-color: #00c48c;
  color: #fff;
}
